<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Testarosa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E63EC6BC202CD3AB00FC0AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E63EC6D0202CD3AB00FC0AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E63EC6DB202CD3AB00FC0AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E63EC6F1202CD43500FC0AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
